 *{
    margin: 0%;
    padding: 0%;
 }


 html,body{
height:100%;
width: 100%;


 }
 body{
    background-color: antiquewhite;
    /* display: flex; */
 }

 main{
    display: flex;
 }
 div{
    height: 200px;
    width: 200px;

 }
#box1{

    background-color: rgb(255, 0, 123);
}
#box2{
    background-color: chartreuse;
}
#box3{
    background-color: aqua;
    
}