*{
    margin: 0%;
    padding: 0%;
 }


 html,body{
height:100%;
width: 100%;


 }
 #main{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans';
    
 }
 h1{
    font-weight: normal;
 }
.shape{
    margin-left: 10px; margin-top: 10px ;
    height:200px;
    width: 200px; 
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
#square:hover{
    background-color: red;

}
#circle{
    
    border-radius: 50%;
    
}
#circle:hover{
    background-color: chartreuse;
    
}
#diamond{
    rotate: 45deg;
    margin-top: 40px;
    height: 141px;
    width: 141px;
    translate: 30px;
}
#diamond h1{
    rotate: -45deg;
}
#diamond:hover{
    background-color: blue;
}
